@import "variables";

/* Página de inscripción */

/* Banner */

.container-banner-inscripcion{
    width: 100%;
    height: 65vh;
    margin-bottom: 5%;
}

.banner-inscripcion{
    width: 100%;
    height: 65vh;
    background-image: url(../img/pag-informativa-como-acumular/img1.jpg);
    background-size: cover;
}

.texto-formulario-inscripcion{
    display: flex;
    justify-content: center;
}

#titulo-pagina-inscripcion{
    color:black
}

.container-formulario{
    margin: 5%;
}

.texto-volver-inicio{
    font-size: 15px;
    text-decoration: underline;
    color: blue;
}