@import "variables";

.contenedor-titulo-canje{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5%;
}

.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

@media (min-width: 768px){
    .container-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 992px){
    .container-cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

.card{
    max-width: 100%;
}

.card-img-top{
    height: 500px;
}

.icono-texto{
    margin: 5%;
    img{
        color: black;
        height: 30px-8px;
    }
}

.contenedor-titulo-canje{
    h1{
        color: $color-titulos;
        font-weight: bold;
    }
}