@import "variables";

.contenedor-titulo-categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5%;
}

.contenedor-titulo-categoria{
    h1{
        color:black;
        font-weight: bold;
    }
}

.card{
    img{
        height: 200px;
    }
}